@model IEnumerable<CategoryDto>
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success position-fixed bottom-0 end-0 m-4 shadow" style="z-index:1050;" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    else if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger position-fixed bottom-0 end-0 m-4 shadow" style="z-index:1050;" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
}
<h1>Your Category</h1>
@{
    if (Model is null)
    {
        <div class="alert-danger" role="alert">
            No expenses found.
        </div>
    }
    else
    {
        <div class="datatable-container">
            <!-- ======= Header tools ======= -->
            <div class="header-tools">
                <div class="tools">
                    <ul>
                        <li>
                            <button>
                                <i class="material-icons"><a asp-controller="Category" asp-action="NewCategory" class="btn text-white">AddNewCategory</a></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table-responsive">
                <!-- ======= Table ======= -->
                <table class="datatable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        <a asp-controller="Category"
                                           asp-action="Edit"
                                           asp-route-id="@item.Id"
                                           class="btn btn-sm btn-primary">
                                            Edit
                                        </a>

                                        <a asp-controller="Category"
                                           asp-action="Delete"
                                           asp-route-id="@item.Id"
                                           class="btn btn-sm btn-danger">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}


